/******* Customized Bootstrap ********/

@import 'scss/generic/variables';
@import 'scss/generic/mixins';
@import 'scss/generic/reset';

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import 'scss/base/global-classes';


$primary: $primary-base;
$light: $secondary-base;
$dark: $tertiary-base;

$font-family-base: 'Lato', sans-serif;

$headings-font-family: 'Raleway', sans-serif;

$body-color: #9B9B9B;

//$body-color: $checks;

$headings-color: $dark;

$headings-font-weight: 700;

$display-font-weight: 900;

$enable-responsive-font-sizes: true;

$border-radius: 8px;

$link-decoration: none;

$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";

// comments