  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}  
  <!-- Template Javascript -->

    <!-- JavaScript Libraries -->
    <script src="../../js/jquery-3.4.1.min.js"></script>

    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>

    <script src="../../js/main.js"></script>
  </body>
</html>
